/*Universal selector*/
* {
	font-family: sans-serif;
}
/*Type selector*/
h1 {
	font-size: 350%;
}
/*ID selector*/
#h2 {
	text-transform: uppercase;
}
/*Class selector*/
.lang {
	background-color: #AED0A1;
}
.tools  {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	}

.other {
	list-style: none;
	letter-spacing: 15px;
}
img {
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

